<p>{{ 'emailInvoiceBexio.hi' | trans ({'%userFirstname%': user.firstname, '%userLastname%': user.lastname}) }}</p>
<p>{{ 'emailInvoiceBexio.find_your_invoice' | trans }} [Network Link]</p>
<p>{{ 'emailInvoiceBexio.kind_regards' | trans | raw }}</p>